h1{
   
    text-align: center;
    color: blue;

}


.error{
    color: red;
    text-align: center;
}

.success{
    color: green;
    text-align: center;
}

#test{
    color: rgb(0, 208, 255);
    text-align: center;
}

* {
    font-style: italic;
    
}

.orange{
   background-color: orange;
}
.yellow{
    background-color: yellow;
}

.box-model{
    text-align: center;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
}
.inheritance{
    color: red;
    text-align: center;
    font-size: 20px;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    background-color: DodgerBlue;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }